/.android
*.pub
.android/adbkey.pub
/.android
/.android
/.android
.android/avd/Medium_Phone.avd/AVD.conf
/.android/avd
/.android
/.android
*.pub
/.android
.android/analytics.settings
.android/avd/Medium_Phone.avd/AVD.conf
/.android
/.npm-global
.bashrc
/.npm-global
